{% extends "base-auth.html" %}

{% block content %}
    {% load widget_tweaks %}
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Create Account</h3>
                </div>
                <div class="card-body">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {% render_field form.username class+="form-control" placeholder="Your Username" %}
                            <label for="id_username">Username</label>
                            {{ form.username.errors }}
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    {% render_field form.first_name class+="form-control" placeholder="Enter your First Name" %}
                                    <label for="id_first_name">First name</label>
                                    {{ form.first_name.errors }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {% render_field form.last_name class+="form-control" placeholder="Enter your Last Name" %}
                                    <label for="id_last_name">Last name</label>
                                    {{ form.last_name.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            {% render_field form.email class+="form-control" placeholder="isna@email.com" %}
                            <label for="id_email">Email address</label>
                            {{ form.email.errors }}
                        </div>
                        <div class="form-floating mb-3">
                            {% render_field form.date_of_birth class+="form-control" placeholder="22/07/2007" type="date" %}
                            <label for="id_date_of_birth">Date of Birth</label>
                            {{ form.date_of_birth.errors }}
                        </div>
                        <div class="form-floating mb-3">
                            {% render_field form.phone_number class+="form-control" placeholder="082137557920" %}
                            <label for="id_phone_number">Phone Number</label>
                            {{ form.phone_number.errors }}
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    {% render_field form.password1 class+="form-control" placeholder="Password" %}
                                    <label for="id_password1">Password</label>
                                    {{ form.password1.errors }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    {% render_field form.password2 class+="form-control" placeholder="Password Confirm" %}
                                    <label for="id_password2">Confirm Password</label>
                                    {{ form.password2.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <input type="submit" class="btn btn-primary btn-block" value="Create Account">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="{% url 'login' %}">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}